/*
body {
	background-color: C0C0C0
	font-family: 'Habibi', serif;
	font-weight: #800080;
}

.jumbotron h1{
	color: F0F8FF;
	text-align: center;
}

table header {
	color: pink;

}

table body {
	text-align: center;

}*/
